:root {
  --clr-100: 0 0% 100%;
  --clr-300: 275 100% 97%;
  --clr-500: 292 16% 97%;
  --clr-900: 292 42% 14%;

  --ff-sans: 'Work Sans', sans-serif;

  --fs-400: 1rem;

  --fw-regular: 400;
  --fw-medium: 600;
  --fw-bold: 700;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: var(--ff-sans);
  line-height: 1.6;
}

body {
  margin: 0;
  background-color: hsl(var(--clr-300));
}

ul {
  list-style: none;
  padding: 0;
}
