---
import Attribution from '../components/Attribution.astro';
import Faqs from '../components/Faqs.astro';
import FrontendMentorLayout from '../layouts/FrontendMentorLayout.astro';

const faqs = [
  {
    question: 'What is Frontend Mentor, and how will it help me?',
    answer:
      "Frontend Mentor offers realistic coding challenges to help developers improve their frontend coding skills with projects in HTML, CSS, and JavaScript. It's suitable for all levels and ideal for portfolio building.",
  },
  {
    question: 'Is Frontend Mentor free?',
    answer:
      'Yes, Frontend Mentor offers both free and premium coding challenges, with the free option providing access to a range of projects suitable for all skill levels.',
  },
  {
    question: 'Can I use Frontend Mentor projects in my portfolio?',
    answer:
      "Yes, you can use projects completed on Frontend Mentor in your portfolio. It's an excellent way to showcase your skills to potential employers!",
  },
  {
    question: "How can I get help if I'm stuck on a Frontend Mentor challenge?",
    answer:
      "The best place to get help is inside Frontend Mentor's Discord community. There's a help channel where you can ask questions and seek support from other community members.",
  },
];
---

<FrontendMentorLayout
  title='FAQ accordion'
  fontFamily='Work Sans'
  fontWeights={[400, 600, 700]}
>
  <main class='wrapper main-wrapper'>
    <Faqs faqs={faqs} />
  </main>
  <footer class='primary-footer'>
    <Attribution href='https://www.abizmo.dev/' codedBy='Abián Izquierdo' />
  </footer>
</FrontendMentorLayout>

<style>
  body {
    background-image: url(./images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .wrapper {
    --maxWidth: 600px;
    --padding: 24px;

    width: min(var(--maxWidth), 100% - calc(var(--padding) * 2));
    margin-inline: auto;
  }

  .main-wrapper {
    margin-top: 8rem;
  }

  @media (min-width: 600px) {
    body {
      background-image: url(./images/background-pattern-desktop.svg);
    }

    .main-wrapper {
      margin-top: 6rem;
    }
  }

  .primary-footer {
    margin-top: 2rem;
  }
</style>
